@import 'utility.css';

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

li {
  list-style: none;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  overflow-x: hidden;
  background: #DCDCDC;
}

.header {
  width: 100%;
  text-align: center;
  background: #4aae9b;
  height: 60px;
  opacity: 0.8;
  padding-top: 20px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  z-index:4;
}

.innerselection {
  position: absolute;
  text-align: center;
  left:50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  line-height: 3rem;
}
  
.innerselection > li{
  list-style: none;  
  padding-top: 15px;
}

.innerselection > li > a.innerlink {
  background: none;
  font-size: 0;
  color: transparent;
  /* display: none; */
  transition: all 0.5s ease;
  text-decoration: none;
}

.innerselection {
  z-index: 4;

}

.innerselection > li > a.innerlink.open {
  display: block;
  font-size: 1.4rem; /* transition through font size*/
  background: none;
  color: #fff;
  list-style: none; 
}

.innerselection > li > a.innerlink.open:hover {
  cursor: pointer;
  color: rgba(72, 202, 219);
  transform: scale(1.2);
}

.font-heading {
  font-family: cursive;
  font-style: italic;
}
/* Burger Menu */

.burger {
  position: relative;
  width: 30px;
  height: 30px;
  top:-5px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.burgerline {
  width: 30px;
  height: 2px;
  background: #fff;
  transition: 0.5s all;
}

.burgerline::before {
  content:'';
  background: #fff;
  width: 30px;
  height: 2px;
  position: absolute;
  transform: translate(-50%, -10px);
  transition: 0.5s all;
}

.burgerline::after {
  content:'';
  background: #fff;
  width: 30px;
  height: 2px;
  position: absolute;
  transform: translate(-50%, 10px);
  transition: 0.5s all;
}

.burger.open .burgerline {
  transform: translate(-15px, 0px);
  background: transparent;
}

.burger.open .burgerline::before {
  transform: rotate(45deg);
}

.burger.open .burgerline::after {
  transform: rotate(-45deg);
}

.burger.open:hover {
  background: var(--placeholder-color);
}

.burger.open:hover .burgerline::before{
  transform: rotate(135deg);
}
.burger.open:hover .burgerline::after{
  transform: rotate(45deg);
}

/* --- */


.header h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  position: absolute;
  left: calc(40%);
}

/* main as the container div for all contents */
.main {
  display: flex;
  flex-grow: 1;
  margin-right: 20px;
  max-width: 1400px;
  margin: auto;
}

.main::after {
  content:'';
  position: absolute;
  left:50%;
  top:50%;
  margin: auto;
  width: 0%;
  height: 0%;
  background: rgb(51, 51, 51);
  opacity: 0.8;
  z-index: 3;
  transition: all 0.5s ease;
}

.main.open::after {
  left:-50%;
  top:-50%;
  width: 200%;
  height: 200vh;
}


/* --- */


.content .content-2 {
  position: relative;
  display: flex;
  padding: 20px;
  flex-direction: column;
  background: #fff;
}

.content .content-2 .content-2-input .input-section {
  padding: 15px 50px 5px 0px;
  position: relative;
}

.content .content-2 .content-2-input .input-section:last-child {
  display: flex;
  justify-items: center;
  align-items: center;
}

.content .content-2 .content-2-input .input-section .warning {
  font-size: 0.8rem;
  position: absolute;
  color: red;
  width: calc(100%);
  top: calc(95%);
  right: calc(-40%);
  z-index: -1;
}

.content .content-2 .content-2-input .input-section:last-child input {
  width: 300px;
}

.content .content-2 .content-2-input .input-section:last-child button {
  width: 100px;
  height: 100%;
  background: #4aae9b;
  border: none;
  color: #fff;
}
.content .content-2 .content-2-input .input-section:last-child button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.content .content-2 .paragraph-1 {
  font-size: 1.2rem;
  font-weight: lighter;
  position: relative;
  left: -5px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DCDCDC;
}

/* exclamation marks */
.content .content-2 .content-2-input .input-section .fa-exclamation-circle {
  color: red;
  position: relative;
  right: calc(15%);
  z-index: -1;
}

.content .content-2 .content-2-input .input-section:last-child .fa-exclamation-circle {
  right:calc(30%);
}

.content .content-2 .content-2-input .input-section .fas {
  padding-left: 5px;
}

.content .content-2 .content-2-input .input-section input{
  width: 400px;
  /* margin-left: 10px; */
  height: 30px;
  padding: 5px;
}

.content .content-2 .content-2-input {
  display: flex;
  flex-wrap: wrap;
}

.content .content-2 .content-2-input .input-section:first-child input{
  margin-left: 10px;
  /* margin-left: calc(30%); */
}

.content .content-2 .content-2-input .input-section:first-child #input-merchant:focus + i + i + .warning + .merchantDropdownList{
  display: flex;
}

.content .content-2 .content-2-input .input-section:nth-child(2) input{
  margin-left: 60px; 
}

.content .content-2 .content-2-input .input-section:nth-child(3) input{
  margin-left: 45px;
}

.merchantDropdownList {
  position: absolute;
  max-width: 300px;
  background: var(--category-color-even);
  z-index: 2;
  display: none;
  flex-direction: column;
  left: 165.63px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--placeholder-color);
}

.merchantDropdownList:hover {
  display: flex;
}

.merchantDropdownList div {
  width: 100%;
  padding: 5px;
  text-align: center;
  border-bottom: 1px dotted var(--placeholder-color);
  cursor: pointer;
  transition: 0.2s all;
}

.merchantDropdownList div:hover {
  background: var(--placeholder-color);
}

.merchantDropdownList div h4 {
  font-weight: lighter;
}

/* Content-3 Class: display */
.content-3 {
  display: flex;
  justify-content: space-between;
}

.content-3 > * {
  position: relative;
  width: 200px;
  flex-grow: 1;
  height: 100px;
  margin-left: 25px;
  color: #fff;
}

.content-3 .display:first-child {
  margin-left: 0;
}

.content-3 .display .info-wrapper {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  justify-content: center;
}

.content-3 .display .info-wrapper .value {
  font-size: 1.6rem;
  padding: 0 0 20px 10px;
  opacity: 0.8;
}

.content-3 .display .info-wrapper h6 {
  padding: 0 0 0 10px;
  opacity: 0.8;
}

/* Display class  */
.content-3 #display-submit {
  background: #0EBFE9;
  display: flex;
  justify-content: space-between;
}

.content-3 #display-uncategorized {
  background: #4aae9b;
  display: flex;
  justify-content: space-between;
} 
.content-3 #display-total {
  background: #FFA500;
  display: flex;
  justify-content: space-between;
} 

.content-3 .display i {
  /* position: relative; */
  color: #808080;
  opacity: 0.4;
  padding-right: 20px;
}

/* content-4 section  */
.content-4 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-4 input {
  width: 300px;
  margin-left: 10px;
  height: 30px;
  padding: 5px;
}

.content-4 i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-4 > i {
  padding-left: 10px;
}

.content-4 .expense-dropdown {
  display: flex;
  position: relative;
}

.content-4 .expense-dropdown i {
  position: relative;
  left: -20px;
}

.content-4 #refresh {
  position: absolute;
  right: 10px;
  top: 5px;
  transition: 0.5s all;
}

.content-4 #refresh:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: rotate(90deg);
}

/* Content-5 detail section */
.content-5 {
  background: #fff;
  /* display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr; */
}

.content-5 ul li p:nth-child(1),
.content-5 ul li p:nth-child(2),
.content-5 ul li p:nth-child(4),
.content-5 ul li p:nth-child(5),
.content-5 > .content-5-header > p  {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;                               
}


.content-5 .content-5-header {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
}

/* .content-5 .content-5-header:hover {
  border: 2px solid #0EBFE9;
} */

.content-5 .content-5-header i:first-child {
  margin-left: 10px;
}

.content-5 .content-5-header p,
.content-5 .content-5-header p + i {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px 0 10px 0;
  border: 1px solid #DCDCDC;
} 

.content-5 .content-5-header p > i:hover,
.indexedDb .content-5-header i:hover {
  cursor: pointer;
}

.indexedDb > .content-5-header > ul > li {
  border-bottom: 1px solid #fff;
  text-align: center;
  height: 100%;
  padding-top:10px;
}

.indexedDb > .content-5-header > ul > li > i {
  padding-right: 20px;
}

.indexedDb > .content-5-header > ul > li > i:hover {
  opacity: 0.8;
  color: var(--placeholder-color);
}

.indexedDb > .content-5-header > ul > .expenseList {
  
  text-align: center;
  position: absolute;
  background: var(--category-color-even);
  display: block !important;
  /* instead of diplsy:none and display:block when chevron is click */
  /* do z-index:-1 and opacity:0 and pointer-events:none so the page doesn't jump */
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.indexedDb > .content-5-header > ul > .needborder {
  border: 1px solid #DCDCDC;
}

.indexedDb > .content-5-header > ul > .expenseList > li {
  /* color: red; */
  padding: 5px;
  border-bottom: 1px dotted var(--placeholder-color);
}

.indexedDb > .content-5-header > ul > .expenseList > li:hover {
  background: var(--placeholder-color);
  cursor: pointer;
}

.indexedDb > .content-5-header > ul > li > i {
  cursor: pointer;
}


/* insight page */

.nonselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.nonselect {
  cursor: not-allowed !important; 
}


.main.insight{
  justify-content: center;
  align-items: center;
}

.main.insight .metadata,
.main.insight .insights {
  width: 40vw;
  height: 80vh;
  border: 1px solid var(--category-color-odd);
  border-radius: 5px;
  background: #b2dad2;
}

.metadata {
  display: flex;
  flex-direction: column;
}

.metadata .metadataHeader {
  color: var(--draggable-color);
  text-align: center;
  border-bottom: dotted 1px #333;
}

.metadata .metadataContainer{
  display: grid;
  grid-template-columns: 0.2fr 2fr 2fr;
  height: 100%;
}

.metaline {
  max-height: 80%;
  width: 10px;
  background:var(--placeholder-color);
  margin-left: auto;
  overflow-y: auto;
}

.metatext {
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 1px solid var(--placeholder-color);
  border-right: 1px solid var(--placeholder-color);
  border-bottom: 1px solid var(--placeholder-color);
  border-radius: 5px;
  height: 80%;
}

.metatext .metatextContainer {
  overflow: visible;
}

.metatext .metatextContainer .metatextContent {
  background: #a0d1c8;
  cursor: grab;
  border: 1px dotted var(--placeholder-color);
  /* background: var(--category-color-even); */
}

/* .metadata_control .metadata_input .input-section {
  text-align: center;
} */

.metadata_control .metadata_input .input-section #input-text {
  margin: 5px 5px 5px 0;
  width: 80%;
  height: 25px;
  padding: 5px;
}

.metadata_control .metadata_input .meta-submit {
  width: 80%;
  height: 25px;
  background: var(--draggable-color);
  font-weight: bold;
}

.metadata_control .metadata_input .meta-submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

.metadata_control .metaRemoveContainer {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.metadata_control .metaRemoveContainer .far {
  color: var(--draggable-color);
  padding-right: 5px;
}

.metadata_control .metaRemoveContainer .metaDropoffWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.metadata_control .metaRemoveContainer .metaDropoffWrapper .dropoff {
  
  height: 50px;
  background: #6fd8c5;
  border: 1px solid var(--draggable-color);
  border-radius: 2px;
  flex-grow: 1;
  color: #808080;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metadata_control .metaRemoveContainer .metaDropoffWrapper .dropoffHeader {
  transition: 0.2s all;
  text-align: center;
}

.insights {
  position: relative;
}

.insights .chartContainer {
  display: none;
}


/* 
back arrow formatting
*/
.insights .arrowContainer {
  position: relative;
  max-width: 100px;
}

.insights .arrowContainer .fas {
  position: relative;
  left:30px;
  /* padding-left: 20px; */
  color: var(--draggable-color);
  transition: 1s all;
}

.insights .arrowContainer:hover {
  cursor: pointer;
  animation: moveLeft 1s infinite;
  /* background:white; */
}

@keyframes moveLeft {
  from {left: 50px;}
  to {left: 0px; opacity: 0.1;}
} 
/* to block blinking effect */
.blocker {
  position: absolute;
  height: 100px;
  width: 50px;
  z-index: 1;
  opacity: 0;
  background:yellow;
}

/* backarrow  */

/* forward arrow formatting*/

.insights .arrowContainerForward {
  position: relative;
  max-width: 100px;
  left: 80%;
}

.insights .arrowContainerForward .fas {
  position: relative;
  left:0;
  color: var(--draggable-color);
  transition: 1s all;
}

.insights .arrowContainerForward {
  cursor: pointer;
  left: 80%;
  animation: moveRight 1s infinite;
}

@keyframes moveRight {
  from {left: 80%;}
  to {left: 95%; opacity: 0.1;}
}

.bottomArrowWrapper {
  position: relative;
  display: none;
}

/* .blockerBottom {
  position: absolute;
  left: 80%;
  top: 50%;
  height: 100%;
  width: 50px;
  z-index: 1;
  opacity: 1;
  background:yellow;
} */

/*forward arrow*/
.insights .graphUI {
  width: 80%;
  height: 70%;
  /* border: 1px solid red; */
  margin-left: 10%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.insights .graphUI .barContainer,
.insights .graphUI .pieContainer {
  border: 1px solid var(--category-color-odd);
  border-radius: 5px;
  max-height: 50%;
  flex-grow: 1;
  margin: 5px;
  transition: 0.5s all;
  position: relative;
  top: 0px;
  width: fit-content;
  display: block;
}

.insights .graphUI .barContainer:hover,
.insights .graphUI .pieContainer:hover {
  /* box-shadow: 1px 1px 2px 2px var(--category-color-odd); */
  box-shadow: 0 0 0 1px var(--category-color-odd);
  top:-2px;
  cursor: pointer;
}

.insights .graphUI .barContainer i, 
.insights .graphUI .pieContainer i {
  color: var(--draggable-color);
}

.insights .graphUI p {
  font-size: 0.9rem;
}

.uiDetail {
  width: 100%;
  display: none;
}

.uiDetail .insightDateOption {
  display: flex;
  flex-direction: column;
} 

.uiDetail .insightDateOption .dateOptionHeader {
  text-align: center;
  color: var(--draggable-color);
}

.uiDetail .insightDateOption .insightDateInputs {
  display: flex;
  flex-direction: column;
}

.uiDetail .insightDateOption .insightDateInputs input,
.uiDetail .insightDateOption .insightDateInputs select {
  max-width: 80%;
  height: 30px;
}

.uiDetail .insightDateOption .insightDateInputs .dateInputFrom,
.uiDetail .insightDateOption .insightDateInputs .dateInputTo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uiDetail .insightDateOption .insightDateInputs .dateInputTo *,
.uiDetail .insightDateOption .insightDateInputs .dateInputFrom * {
  flex-grow: 1;
}

.uiDetail .insightDateOption .insightDateInputs input,
.uiDetail .insightDateOption .insightDateInputs select {
  width: 80%;
  margin-left:10px;
  padding: 2px;
}

.uiDetail .insightDateOption .insightDateInputs #basisOptionContainer {
  display: none;
}

.insightWarning {
  margin:auto;
  color: red;
  display: none;
}

/* 
chartContainer
graphUI > barContainer 
graphUI > pieContainer
graphUI > uiDetail
*/


/* .insights .graphUI,
.insights .graphUI .barContainer,
.insights .graphUI .pieContainer {
  display: none !important;
}

.chartContainer {
  display: block !important;
} */